---
import Layout from "@layouts/Layout.astro"
---
<Layout title="Page not found" description="Page not found">
    <div class="flex justify-center gap-8">
        <p>404 - Page not found</p>
    </div>
</Layout>
