---
import Chip from "@components/Chip.astro";
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";

// Put all your links here
const links: Link[] = [
  // {
  //   desc: "Example Project", // The text that will be rendered
  //   link: "example.com", // The link
  //   icon: "fa-solid fa-home", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  // },
];
---
<Layout title="Giacomo Marinangeli" description="Linktree of Giacomo Marinangeli">
    <h1 class="md:text-6xl text-4xl font-black text-center">
    Giacomo Marinangeli
    </h1>
    <div class="grid justify-center gap-4">
    {
        links.map(({ desc, link, icon }) => {
        return <Card {desc} {link} {icon} />;
        })
    }
    </div>
    <div class="flex justify-center gap-8">
    <Chip
        link="https://linkedin.com/in/giacomomarinangeli"
        icon="fa-brands fa-linkedin"
    />
    <Chip link="https://github.com/jibbolo" icon="fa-github" />
    <Chip link="https://x.com/jibbolo" icon="fa-x-twitter" />
    </div>
</Layout>
