---
interface Props {
  link: string;
  icon: string;
}
const { link, icon } = Astro.props;
---

<a href={link} class="text-3xl hover:text-primary" aria-label="link" target="_blank" rel="noopener noreferrer nofollow">
    <i class={`fa-brands ${icon}`}></i>
</a>
